go-cqhttp/**
go-cqhttp/*
go-cqhttp-2/**
go-cqhttp-3/**
go-cqhttp-4/**
go-cqhttp-me/**
Kori-beta/**
Kori-bot/data2/**
root@www.mcresources.top/**
cu-gocq/*
.vscode/**
__pycache__/*
reference/*
**/data/**
Kori-Bot/test001/*
Kori-Bot/__pycache__/*
Kori-Bot/src/disabled/**

**/__pycache__/**
**.pyc
**.log.*
Kori-Bot/src/disabled/__pycache__/*
Kori-Bot/src/plugins/__pycache__/*
Kori-Bot/src/plugins/*/__pycache__/*
**/test.py
Kori-Bot/src/disabled/*
Kori-Bot/src/disabled/__pycache__/*
Kori-Bot/src/plugins/__pycache__/*
Kori-Bot/src/plugins/*/__pycache__/*
**/test.*
**/__pycache__/**
**.pyc
**.log.*
**.dist-info/**

Kori-bot/src/plugins/fortune/resource/fortune_data.json
Kori-bot/src/plugins/fortune/resource/out/**
Kori-bot/src/plugins/morning/resource/data.json
Kori-bot/src/plugins/what2eat-2/resource/data.json
Kori-bot/.env
Kori-bot/config.yml
Kori-bot/text2pic.png
Kori-bot/md2pic.png
Kori-bot/src/plugins/fortune/resource/fortune_setting.json
