go-cqhttp/** !go-cqhttp
go-cqhttp/* !go-cqhttp
cu-gocq/*
.vscode/*
__pycache__/*
reference/*
**/data/**
Kori-Bot/test001/*
Kori-Bot/__pycache__/*
Kori-Bot/src/disabled/*
**/__pycache__/**
**.pyc
**.log.*
