aiocache==0.11.1
aiocqhttp==1.4.2
aiofiles==0.8.0
aiohttp==3.8.1
backports.statistics==0.1.0
httpx==0.22.0
imageio==2.16.1
jieba==0.42.1
Jinja2==2.11.3
Markdown==3.3.6
matplotlib==3.5.1
nonebot==1.9.1
nonebot_plugin_chatrecorder==0.1.5
nonebot_plugin_datastore==0.3.0
nonebot_plugin_htmlrender==0.0.4.5
numpy==1.22.3
Pillow==9.0.1
psutil==5.9.0
pydantic==1.9.0
pyenchant==3.2.2
PyYAML==6.0
Quart==0.14.1
requests==2.25.1
scikit-image
SQLAlchemy==1.4.32
sqlmodel==0.0.6
tabulate==0.8.9
tensorflow==2.8.0
typing_extensions==4.1.1
ujson==5.1.0
uvicorn==0.15.0
